In [3]:
import pandas as pd
import matplotlib.pyplot as plt

demographic_data = "Resources/Demographic.csv"
house_price_index = "Resources/House_Prices.csv"
interest_rates = "Resources/Interest_Rates.csv"

demographic_df = pd.DataFrame(pd.read_csv(demographic_data))
house_price_index_df = pd.DataFrame(pd.read_csv(house_price_index))
interest_rates_df = pd.DataFrame(pd.read_csv(interest_rates))
house_price_index_df.head()

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,Jan-19,Canada,2016A000011124,Total (house and land),"Index, 201612=100",347,units,0,v111955442,1.1,103.2,NaN,NaN,NaN,1
1,Jan-19,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,102.8,NaN,NaN,NaN,1
2,Jan-19,Canada,2016A000011124,Land only,"Index, 201612=100",347,units,0,v111955444,1.3,104.1,E,NaN,NaN,1
3,Jan-19,Atlantic Region,2016A00011,Total (house and land),"Index, 201612=100",347,units,0,v111955445,2.1,100.1,NaN,NaN,NaN,1
4,Jan-19,Atlantic Region,2016A00011,House only,"Index, 201612=100",347,units,0,v111955446,2.2,100.0,NaN,NaN,NaN,1

In [12]:
#Filter house_price_index_df for five year HPI and "House and Land" type
hpi_df_toronto = house_price_index_df.loc[(house_price_index_df["GEO"]=="Toronto, Ontario") 
                                          & (house_price_index_df["New housing price indexes"].str.contains("Total"))]
hpi_df_toronto

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
57,Jan-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,103.0,NaN,NaN,NaN,1
177,Feb-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,103.0,NaN,NaN,NaN,1
297,Mar-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,103.0,NaN,NaN,NaN,1
417,Apr-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.9,NaN,NaN,NaN,1
537,May-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.6,NaN,NaN,NaN,1
657,Jun-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.6,NaN,NaN,NaN,1
777,Jul-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.0,NaN,NaN,NaN,1
897,Aug-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.0,NaN,NaN,NaN,1
1017,Sep-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.3,NaN,NaN,NaN,1
1137,Oct-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.4,NaN,NaN,NaN,1
1257,Nov-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.3,NaN,NaN,NaN,1
1377,Dec-19,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.5,NaN,NaN,NaN,1
1497,Jan-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.1,NaN,NaN,NaN,1
1617,Feb-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.5,NaN,NaN,NaN,1
1737,Mar-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.8,NaN,NaN,NaN,1
1857,Apr-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.8,NaN,NaN,NaN,1
1977,May-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.8,NaN,NaN,NaN,1
2097,Jun-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,102.8,NaN,NaN,NaN,1
2217,Jul-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,103.1,NaN,NaN,NaN,1
2337,Aug-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,103.4,NaN,NaN,NaN,1
2457,Sep-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,104.2,NaN,NaN,NaN,1
2577,Oct-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,104.8,NaN,NaN,NaN,1
2697,Nov-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,105.1,NaN,NaN,NaN,1
2817,Dec-20,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,105.5,NaN,NaN,NaN,1
2937,Jan-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,106.2,NaN,NaN,NaN,1
3057,Feb-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,107.7,NaN,NaN,NaN,1
3177,Mar-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,108.6,NaN,NaN,NaN,1
3297,Apr-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,109.5,NaN,NaN,NaN,1
3417,May-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,109.9,NaN,NaN,NaN,1
3537,Jun-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,110.0,NaN,NaN,NaN,1
3657,Jul-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,110.2,NaN,NaN,NaN,1
3777,Aug-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,111.1,NaN,NaN,NaN,1
3897,Sep-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,111.1,NaN,NaN,NaN,1
4017,Oct-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,112.5,NaN,NaN,NaN,1
4137,Nov-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,114.1,NaN,NaN,NaN,1
4257,Dec-21,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,114.1,NaN,NaN,NaN,1
4377,Jan-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,114.1,NaN,NaN,NaN,1
4497,Feb-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,114.8,NaN,NaN,NaN,1
4617,Mar-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
4737,Apr-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
4857,May-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
4977,Jun-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
5097,Jul-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
5217,Aug-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
5337,Sep-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
5457,Oct-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
5577,Nov-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
5697,Dec-22,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
5817,Jan-23,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.6,NaN,NaN,NaN,1
5937,Feb-23,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.2,NaN,NaN,NaN,1
6057,Mar-23,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.2,NaN,NaN,NaN,1
6177,Apr-23,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.2,NaN,NaN,NaN,1
6297,May-23,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.1,NaN,NaN,NaN,1
6417,Jun-23,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.1,NaN,NaN,NaN,1
6537,Jul-23,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.1,NaN,NaN,NaN,1
6657,Aug-23,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.0,NaN,NaN,NaN,1
6777,Sep-23,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,115.0,NaN,NaN,NaN,1
6897,Oct-23,"Toronto, Ontario",2011S0503535,Total (house and land),"Index, 201612=100",347,units,0,v111955499,20.1,114.9,NaN,NaN,NaN,1